.contactBody{
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cHeading{
    font-size: 2.5rem;
    font-weight: 900;
    color: #073B4C;
}
.csection1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.box0 a{
    text-decoration: none;
    font-size: 3rem;
    color: #073B4C;
}
.box1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.box1 strong{
    font-size: 1.4rem;
    font-weight: 700;
}
.box2 a{
    text-decoration: none;
    font-size: 3rem;
    color: #073B4C;
}

@media only screen and (max-width: 800px){
    .contactBody{
        padding: 2rem 0.5rem;
    }
    
    .cHeading{
        font-size: 2rem;
    }
    .box0 a{
        font-size: 2rem;
    }
    .box1 strong{
        font-size: 1rem;
        font-weight: 700;
    }
    .box2 a{
        font-size: 2rem;
    }
}